@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #232331;
    font-family: 'Roboto', sans-serif;
}

#captchaBackground {
    height: 220px;
    width: 250px;
    background: linear-gradient(to right, #1a1a2e, #16213e);
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#captchaHeading {
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

#captcha {
    height: 80%;
    width: 80%;
    font-size: 30px;
    letter-spacing: 3px;
    margin: auto;
    display: block;
    color: #08e5ff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#submitButton,
#refreshButton {
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #08e5ff;
    border: 0px;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
}

#submitButton:hover,
#refreshButton:hover {
    transform: scale(1.05);
}

#textBox {
    height: 25px;
    border-radius: 5px;
    border: 1px solid #08e5ff;
    padding: 5px;
}

.incorrectCaptcha {
    color: #ff0000;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.correctCaptcha {
    color: #7fff00;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

#output {
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

#refreshButton {
    background-color: #08e5ff;
    border: 0px;
    font-weight: bold;
}

/* Shake animation */
@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-3px); }
    100% { transform: translateX(0); }
}

.shake {
    animation: shake 0.5s ease-in-out;
}

/* Heartbeat animation */
@keyframes heartBeat {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(1.1);
    }
    40% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    80% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.heartBeat {
    animation-name: heartBeat;
}
